@model AboutViewModel

<div class="col-md-8 mx-auto" style="margin-top:100px;">
    <div class="card">
        <form method="post">
            <div class="card-header">
                <div class="card-title">Updated About</div>
            </div>
            <div class="card-body">
                <input type="hidden" asp-for="id" class="form-control input-square" id="squareInput">

                <div class="form-group">
                    <label for="squareInput">About Title</label>
                    <input type="text" asp-for="title" class="form-control input-square" id="squareInput">
                </div>

                <div class="form-group">
                    <label for="squareInput">About Description</label>
                    <input type="text" asp-for="description" class="form-control input-square" id="squareInput">
                </div>

                <div class="form-group">
                    <label for="squareInput">About Image</label>
                    <input type="text" asp-for="imageUrl" class="form-control input-square" id="squareInput">
                </div>


            </div>
            <div class="card-action d-flex">
                <a href="/Admin/About" class="btn btn-danger w-25">Cancel</a>
                <button class="btn btn-success w-25 ml-auto">Submit</button>
            </div>

        </form>
    </div>

</div>
