@model ProductViewModel

<div class="col-md-8 mx-auto" style="margin-top:100px;">
    <div class="card">
        <form method="post">
            <div class="card-header">
                <div class="card-title">New Product</div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="squareInput">Category Name</label>
                    <select asp-for="categoryId" class="form-control" id="categoryId">
                        <option value="">Choose category...</option>
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.id">@category.name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="squareInput">Product Name</label>
                    <input type="text" asp-for="name" class="form-control input-square" id="squareInput">
                </div>
                <div class="form-group">
                    <label for="squareInput">Product Description</label>
                    <input type="text" asp-for="description" class="form-control input-square" id="squareInput">
                </div>
                <div class="form-group">
                    <label for="squareInput">Product Price</label>
                    <input type="text" asp-for="price" class="form-control input-square" id="squareInput">
                </div>

                <div class="form-group">
                    <label for="squareInput">Product Image</label>
                    <input type="text" asp-for="imageUrl" class="form-control input-square" id="squareInput">
                </div>

                <div class="form-group">
                    <label for="squareSelect">Product Status</label>
                    <select asp-for="status" class="form-control input-square" id="squareSelect">
                        <option>True</option>
                        <option>False</option>
                    </select>
                </div>

            </div>
            <div class="card-action d-flex">
                <a href="/Admin/Product" class="btn btn-danger w-25">Cancel</a>
                <button class="btn btn-success w-25 ml-auto">Submit</button>
            </div>

        </form>
    </div>

</div>
