<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/assets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Hizrian
                        <span class="user-level">Administrator</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a href="#profile">
                                <span class="link-collapse">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#edit">
                                <span class="link-collapse">Edit Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#settings">
                                <span class="link-collapse">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item active">
                <a href="/Admin">
                    <i class="la la-dashboard"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Admin/Feature">
                    <i class="la la-home"></i>
                    <p>Feature page</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Admin/Booking">
                    <i class="la la-phone"></i>
                    <p>Booking</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Admin/About">
                    <i class="la la-user"></i>
                    <p>About page</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Admin/Category">
                    <i class="la la-table"></i>
                    <p>Category</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Admin/Product">
                    <i class="la la-list"></i>
                    <p>Product</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Admin/Discount">
                    <i class="la la-tag"></i>
                    <p>Discount</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Admin/Testimonial">
                    <i class="la la-users"></i>
                    <p>Testimonial</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Admin/SosicalMedia">
                    <i class="la la-share"></i>
                    <p>Sosical Media</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Admin/Contant">
                    <i class="la la-map"></i>
                    <p>Contant</p>
                </a>
            </li>


        </ul>
    </div>
</div>