@model SocialMediaViewModel

<div class="col-md-8 mx-auto" style="margin-top:100px;">
    <div class="card">
        <form method="post">
            <div class="card-header">
                <div class="card-title">New Social Media</div>
            </div>
            <input type="hidden" asp-for="id" class="form-control input-square" id="squareInput">

            <div class="card-body">
                <div class="form-group">
                    <label for="squareInput">Social Media Title</label>
                    <input type="text" asp-for="title" class="form-control input-square" id="squareInput">
                </div>

                <div class="form-group">
                    <label for="squareInput">Social Media Url</label>
                    <input type="text" asp-for="url" class="form-control input-square" id="squareInput">
                </div>

                <div class="form-group">
                    <label for="squareInput">Social Media Icon</label>
                    <input type="text" asp-for="icon" class="form-control input-square" id="squareInput">
                </div>

            </div>
            <div class="card-action d-flex">
                <a href="/Admin/SosicalMedia" class="btn btn-danger w-25">Cancel</a>
                <button class="btn btn-success w-25 ml-auto">Submit</button>
            </div>

        </form>
    </div>

</div>
